{{!-- This is a simple login form page/ --}}
<div class="container-fluid">
        <div class="row">

            <div class="collogin-card">
                <h2 class="page-title">Login</h2>

                <form class="login-form">
                    <div class="mb-3">
                        <label for="email-login" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="password-login" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-login">
                    </div>
                    <a id="loginBtn" type="submit" class="btn">Login</a>

                   
                    <a href="/signUp" id="signUpBtn" type="submit" class="btn">Sign Up</a>
                   
                </form>


            </div>

            <script src="/js/login.js"></script>